<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <title>Web Application To Hire Labourers</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
    <body>
        <div class="main1">
            <form action="/interior" method="post">
                <div class="login">
                    <h1>Contractor Details</h1>
                    <div class="input-field">
                        <label for="">FULL Name</label>
                        <input type="text" name="FULL NAME" placeholder="FULL NAME">
                    </div>
                    <div class="input-field">
                        <label for="">AGE</label>
                        <input type="text" name="AGE" placeholder="AGE">
                    </div>
                    <div class="input-field">
                        <label for="">GENDER</label>
                        <input type="text" name="GENDER" placeholder="M/F">
                    </div>
                    <div class="input-field">
                        <label for="">E-Mail</label>
                        <input type="email" name="E-Mail" placeholder="E-Mail">
                    </div>
                    <div class="input-field">
                        <label for="">Phone Number</label>
                        <input type="text" name="PHONE NO" placeholder="Your no.">
                    </div>
                    <div class="input-field">
                        <label for="">Alternate Number</label>
                        <input type="text" name="ALTERNATE PHONE NO" placeholder="Another no.">
                    </div>
                    <div class="input-fielddiff">
                        <label for="">Address</label>
                        <textarea placeholder="Address:" name="ADDRESS" ></textarea>
                    </div>
                    <div class="input-field">
                        <label for="">Prior Experience(If any)</label>
                        <input type="text" name="PRIOR EXPERIENCE" placeholder="Prior Experience">
                    </div>
                    <button class="submit">SUBMIT</button>

                </div>
            </form>
        </div>
    </body>
</html>
